﻿html, body {
    background-color: #eee;
}

body {
    padding-top: 60px;
}

.container {
    width: 350px;
}

/* The white background content wrapper */
.login.content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.login-form {
    margin-left: 65px;
}

.hide {
    display: none;
}

.hovertable tr:hover td {
    background-color: #0094ff !important;
    color: #ffffff;
}

div#loading {
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background-image: url('/img/loading.gif');
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}