﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="RenderBlogPost.aspx.cs" Inherits="CMSEverywhereWeb.Admin.RenderBlogPost" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div id="content" runat="server">
    
    </div>
    </form>
</body>
</html>