﻿<%@ Page Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeBehind="index.aspx.cs" Inherits="CMSEverywhereWeb.index" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h2>Home Page</h2>
    <p>Explore CMS Everywhere's many features!</p>
    <asp:Label ID="usertype" runat="server"></asp:Label>

</asp:Content>